@import '../../assets/styles/variables.scss';

.container {
	height: 3rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 1rem;

	> div {
		button:nth-child(2) {
			margin: 0 0.5rem;
		}
	}
}

.button {
	height: 100%;
	border: none;
	background-color: $black;
	border-radius: 1rem;
	padding: 0 1rem;
	color: #ffffff;
	font-size: 1.1rem;
	cursor: pointer;
}
