@import '../../assets/styles/variables.scss';

.container {
	color: $black;
	text-align: center;

	> h1 {
		font-size: 3rem;
		text-transform: uppercase;
		font-weight: 900;
	}

	> h2 {
		font-size: 1.6rem;
	}

	.count {
		font-weight: 900;
	}
}
